.body{
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #910404;
}

.titulo{
  font-size: 28px;
  margin-bottom: 5px;
}

.tabela{
  color: pink;
  margin: 40px auto;
  width: 80%;
  border-collapse: collapse;
  font-size: 16px;
}


.tabela thead{
  background-color: #5e2b97; 
  color: white;
  font-weight: bold;
}

.tabela th, .tabela td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}


.tabela tbody tr:nth-child(odd){
  background-color: #e8d9f6; 
}

.tabela tbody tr:nth-child(even){
  background-color: #f5eefc;
}


tfoot td{
  padding: 12px;
  font-weight: bold;
  background-color: #5e2b97;
  color: white;
}

.rodape {
  text-align: right;
}


.formulario {
  margin: 40px auto;
  width: 300px;
  border: 1px solid #8e0000;
  padding: 15px;
  border-radius: 8px;
  background: #ec0000;
}

.formulario input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: #5e2b97;
  color: rgb(208, 21, 21);
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.formulario button:hover {
  background-color: #4b2079;
}
